.icon {
    width:1rem !important;
    height:1rem !important;
    margin-right: 1rem ;
  }

a.external {
    text-decoration: dotted underline;
    padding-right: 1.3rem;
    background: transparent url(icons/expand-in.png) no-repeat right 0.15rem;
    background-size: 1rem;
}

a.external:hover {
    text-decoration: underline;
    background: transparent url(icons/expand-out.png) no-repeat right 0.15rem;
    background-size: 1rem;
}