h1{
    font-family: 'Archivo Black';
    color:#2384CC;
    font-size:40px;
}

.playlist{
    margin-top:10%;
    margin-left:20%;
    width: 50%;
    height: 30%;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #2384CC;
    background: linear-gradient(169deg, #B6D0E3 0%, rgba(255, 255, 255, 0.62) 76.04%);
}

h2{
    margin-top:5%;
    font-family: 'Open Sans';
    color:rgba(35, 132, 204, 0.60);
    font-size:16px;
}

p{
    font-family: 'Oxygen';
    color:#6C6C6C;
    font-size:14px;
}

.header{
    background-image:url('https://drive.google.com/uc?export=view&id=1ssViA3zyv5UaFUU8o3HXffpaGGAPa44M');
}
